<div class="container" ng-controller = "MainController">
        <modal title="Add questions"  visible="showaddQstnModal">
            <form role="form" ng-submit = "qstnAdder(addQstn)">
            
            <div class="form-group">
            <label for="question">Question</label>
            <textarea ng-model = "addQstn.question" type="text" class="form-control"  placeholder="Enter Question" ></textarea>
            </div>
            
            <div class="form-group">
            <label for="options">Options</label>
            <input ng-model = "addQstn.options" class="form-control" />
            </div>

             <div class="form-group">
            <label for="options">Answer</label>
            <input ng-model = "addQstn.answer" class="form-control" />
            </div>

            
            <div class="form-group">
            <label for="class">Class</label>
            <input ng-model = "addQstn.class"  class="form-control" id="status" placeholder="Class" />
            </div>
      
            <div class="form-group">
            <select name="status" ng-model = "addQstn.status" class="form-control" id="status" placeholder= "Status" required>
                <option value="">Please  Select Status</option>
                <option ng-repeat="x in stat" value="{{x}}">{{x}}</option>
                </select>
            </div>

            <button  ng-click = "toggleModal()" type="submit" class="btn btn-default">Submit</button>
            </form>
        </modal>
    </div>  


            <div class="container">
        <modal title="Add user"  visible="showaddUserModal">
            <form role="form" ng-submit = "userAdder(addUser)">
            
            <div class="form-group">
            <label for="name">Name</label>
            <input ng-model = "addUser.name" type="text" class="form-control"  placeholder="Enter the name" />
            </div>
            
            <div class="form-group">
            <label for="options">Username</label>
            <input ng-model = "addUser.username" class="form-control" placeholder="Enter the username" />
            </div>

             <div class="form-group">
            <label for="options">Password</label>
            <input type="password" ng-model = "addUser.password" class="form-control" />
            </div>
            <div class="form-group">
            <label for="options">Retype Password</label>
            <input type="password" ng-model = "addUser.rePassword" class="form-control" />
            </div>

            
            <div class="form-group">
          <select name="role" ng-model = "addUser.role" class="form-control" id="role" placeholder= "role" required>
                <option value="">Please  Select Role</option>
                <option ng-repeat="x in whatrole" value="{{x}}">{{x}}</option>
                </select>
            </div>
      
            <div class="form-group">
            <select name="status" ng-model = "addUser.class" class="form-control" id="class" placeholder= "Status" required>
                <option value="">Please  Select Class</option>
                <option ng-repeat="x in class" value="{{x}}">{{x}}</option>
                </select>
            </div>
            <div class="form-group">
            <label for="section">Section</label>
            <input ng-model = "addUser.section"  class="form-control" id="section" placeholder="Add section" />
            </div>
            <div class="form-group">
            <label for="address">Address</label>
            <input ng-model = "addUser.address"  class="form-control" id="address" placeholder="Add the address" />
            </div>

            <button  ng-click = "toggleModal()" type="submit" class="btn btn-default">Submit</button>
            </form>
        </modal>
    </div>


    <div class="container-fluid" ng-init = "preload()">
        <div class="row">
            <div class="col-md-5">
            <div>
                <button class = "btn btn-warning" ng-disabled="!selectCAT" ng-click="edit_qstn()"><span class="icon glyphicon glyphicon-edit"></span> Edit</button>
                <button class = "btn btn-danger"  ng-disabled="!selectCAT" ng-click="del_qstn()"><span class="icon glyphicon glyphicon-trash"></span> Delete</button>
            </div>
                <table class="table table-responsive">
                
                <thead>
                    <tr>
                        <th><input type="checkbox" ng-model="selectallCHK.select" ng-change="selectall(selectallCHK)"></th>
                        <th>Question</th>
                        <th>Answer</th>
                        <th>Status</th>
                        <th>Class</th>
                        <th>Created Date</th>
                        <th>Options</th>
                        <th>Updated Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat=" each in qstnData | filter:search ">
                        <td><input type="checkbox" ng-change="selectQstn(chk,each)" ng-model="chk.select">
                        
                        {{selecteach}}
                        </td>
                        <td>{{each.question}}</td>
                        <td>{{each.answer}}</td>
                        <td>{{each.status}}</td>
                        <td>{{each.class}}</td>
                        <td>{{each.createdDate}}</td>
                        <td>{{each.options}}</td>
                        <td>{{each.updatedDate}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
            <div class="col-md-2">
                
            </div>
            <div class="col-md-5">
                        <div>
                <button class = "btn btn-warning" ng-disabled="!selectUSR" ng-click="edit_user()"><span class="icon glyphicon glyphicon-edit"></span> Edit</button>
                <button class = "btn btn-danger"  ng-disabled="!selectUSR" ng-click="del_user()"><span class="icon glyphicon glyphicon-trash"></span> Delete</button>
            </div>
                <table class="table table-responsive">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Class</th>
                        <th>Section</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat=" each in userData | filter:search ">
                        <td><input type="checkbox" ng-change="selectUser(chk,each)" ng-model="chk.sel">
                        
                        {{selecteach}}
                        </td>
                        <td>{{each.name}}</td>
                        <td>{{each.username}}</td>
                        <td>{{each.class}}</td>
                        <td>{{each.section}}</td>
                        <td>{{each.address}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
            
        </div>
    </div> 
    <!-- for editing qstn -->
    <div class="container">
        <modal title="Edit Question"  visible="showQstnEditModal">
            <form role="form" ng-submit = "qstnEditor(editQstn)">
     <div class="form-group">
            <label for="question">Question</label>
            <textarea ng-model = "editQstn.question" type="text" class="form-control"  placeholder="Enter Question" ></textarea>
            </div>
            
            <div class="form-group">
            <label for="options">Options</label>
            <input ng-model = "editQstn.options" class="form-control" />
            </div>

             <div class="form-group">
            <label for="options">Answer</label>
            <input ng-model = "editQstn.answer" class="form-control" />
            </div>

            
            <div class="form-group">
            <label for="class">Class</label>
            <input ng-model = "editQstn.class"  class="form-control" id="status" placeholder="Class" />
            </div>
      
            <div class="form-group">
            <select name="status" ng-model = "editQstn.status" class="form-control" id="status" placeholder= "Status" required>
                <option value="">Please  Select Status</option>
                <option ng-repeat="x in stat" value="{{x}}">{{x}}</option>
                </select>
            </div>

            <button  ng-click = "toggleModal()" type="submit" class="btn btn-default">Submit</button>
            </form>
        </modal>
    </div>  
    <!-- for editing user -->
            <div class="container">
        <modal title="Edit user"  visible="showUserEditModal">
            <form role="form" ng-submit = "userEditor(editUser)">
            
            <div class="form-group">
            <label for="name">Name</label>
            <input ng-model = "editUser.name" type="text" class="form-control"  placeholder="Enter the name" />
            </div>
            
            <div class="form-group">
            <label for="options">Username</label>
            <input ng-model = "editUser.username" class="form-control" placeholder="Enter the username" />
            </div>
            <div class="form-group">
             <label for="options">Role</label>
          <select name="role" ng-model = "editUser.role" class="form-control" id="role" placeholder= "role" required>
                <option value="">Please  Select Role</option>
                <option ng-repeat="x in whatrole" value="{{x}}">{{x}}</option>
                </select>
            </div>
      
            <div class="form-group">
             <label for="options">Class</label>
            <select name="status" ng-model = "editUser.class" class="form-control" id="class" placeholder= "Status" required>
                <option value="">Please  Select Class</option>
                <option ng-repeat="x in class" value="{{x}}">{{x}}</option>
                </select>
            </div>
            <div class="form-group">
            <label for="section">Section</label>
            <input ng-model = "editUser.section"  class="form-control" id="section" placeholder="Add section" />
            </div>
            <div class="form-group">
            <label for="address">Address</label>
            <input ng-model = "editUser.address"  class="form-control" id="address" placeholder="Add the address" />
            </div>

            <button  ng-click = "toggleModal()" type="submit" class="btn btn-default">Submit</button>
            </form>
        </modal>
    </div>
        <div>