<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div class="container-fluid" ng-controller="MainController as log">
            <div id="loginbox" style="margin-top:150px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                  <img src="images/new-logo.png" alt="" style="padding-left:80px;">
                    <div style="padding-top:30px" class="panel-body">
                        <form class="form-horizontal" method="post" role="form" id="myForm" name="myForm" ng-submit="log.doLogin()">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input ng-model="log.loginData.username" type="text" class="form-control" name="username" placeholder="Username" required>
                            </div>
                            <div style="margin-top:10px;" class="alert alert-danger" ng-show="myForm.username.$error.required && !myForm.username.$pristine">
                              <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Username required</strong>
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input ng-model="log.loginData.password" type="password" class="form-control" name="pwd" placeholder="Password" required>
                            </div>
                            <div style="margin-top:10px;" ng-show="myForm.pwd.$error.required && !myForm.pwd.$pristine" class="alert alert-danger">
                              <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Password required</strong>
                            </div>
                            <br>
                                    <input ng-disabled="!myForm.$valid" type="submit" class="btn btn-primary btn-block sub" value="Login">
                            <span class="signup" ng-click="signup()">Don't have an account? Create now!</span>
                        </form>
                    </div>
                    <div ng-show="flagInvalid" class="alert alert-danger">
                        <strong>Sorry..your username or password is incorrect</strong>
                    </div>
                </div>
            </div>
            <modal title="Add user" visible="showaddUserModal">
                <form role="form" ng-submit="userAdder(addUser)" name="userAddForm" id= "userAddForm">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input ng-model="addUser.name" type="text" class="form-control" placeholder="Enter the name" name="name" required/>
                    </div>
                    <div ng-show="userAddForm.name.$error.required && !userAddForm.name.$pristine" class="alert alert-danger">
                      <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Name required</strong>
                    </div>
                    <div class="form-group">
                        <label for="options">Username</label>
                        <input ng-model="addUser.username" class="form-control" placeholder="Enter the username" name="username" required/>
                    </div>
                    <div ng-show="userAddForm.username.$error.required && !userAddForm.username.$pristine" class="alert alert-danger">
                      <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Username required</strong>
                    </div>
                    <div class="form-group">
                        <label for="options">Password</label>
                        <input type="password" ng-model="addUser.password" class="form-control" name="pwd" required/>
                    </div>
                    <div ng-show="userAddForm.pwd.$error.required && !userAddForm.pwd.$pristine" class="alert alert-danger">
                      <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Password required</strong>
                    </div>
                    <div class="form-group">
                        <label for="options">Retype Password</label>
                        <input type="password" ng-model="addUser.rePassword" class="form-control" name="re" required/>
                    </div>
                    <div ng-show="userAddForm.re.$error.required && !userAddForm.re.$pristine" class="alert alert-danger">
                      <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Retyping password is required</strong>
                    </div>
                    <div class="form-group">
                        <label for="options">Roll number</label>
                        <input ng-model="addUser.roll" class="form-control" name="roll" required/>
                    </div>
                    <div ng-show="userAddForm.roll.$error.required && !userAddForm.roll.$pristine" class="alert alert-danger">
                      <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Roll number is required</strong>
                    </div>
                    <div class="form-group">
                      <label for="options">Role</label>
                        <select name="role" ng-model="addUser.role" class="form-control" id="role" placeholder="role" required>
                            <!-- <option value="">Please Select Role</option> -->
                            <option value="student">Student</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="status" ng-model="addUser.class" class="form-control" id="class" placeholder="Status" required>
                            <option value="">Please Select Class</option>
                            <option ng-repeat="x in class" value="{{x}}">{{x}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="section">Section</label>
                        <input ng-model="addUser.section" class="form-control" id="section" placeholder="Add section" name="section" required/>
                    </div>
                    <div ng-show="userAddForm.section.$error.required && !userAddForm.section.$pristine" class="alert alert-danger">
                      <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Section required</strong>
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input ng-model="addUser.address" class="form-control" id="address" placeholder="Add the address" name="addr" required/>
                    </div>
                    <div ng-show="userAddForm.addr.$error.required && !userAddForm.addr.$pristine" class="alert alert-danger">
                      <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Address required</strong>
                    </div>
                    <button ng-click="toggleModal()" type="submit" class="btn btn-default">Submit</button>
                </form>
            </modal>
        </div>
    </div>
</div>
</div>
</div>
</div>
<div>
