<div class="col-sm-9" ng-controller="MainController">
    <modal title="Add questions" visible="showaddQstnModal">
        <form role="form" ng-submit="qstnAdder(addQstn)" name="qstnForm" id="qstnForm">
            <div class="form-group">
                <label for="question">Question</label>
                <textarea ng-model="addQstn.question" type="text" class="form-control" name="qstn" placeholder="Enter Question" required></textarea>
            </div>
            <div ng-show="qstnForm.qstn.$error.required && !qstnForm.qstn.$pristine" class="alert alert-danger">
                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Question required</strong>
            </div>
            <div class="form-group">
                <label for="options">Options (E.g. 25,78,83,99)</label>
                <input ng-model="addQstn.options" class="form-control" name="opt" required />
            </div>
            <div ng-show="qstnForm.opt.$error.required && !qstnForm.opt.$pristine" class="alert alert-danger">
                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Options required</strong>
            </div>
            <div class="form-group">
                <label for="options">Answer</label>
                <input ng-model="addQstn.answer" class="form-control" name="ans" required />
            </div>
            <div ng-show="qstnForm.ans.$error.required && !qstnForm.ans.$pristine" class="alert alert-danger">
                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Answer required</strong>
            </div>
            <div class="form-group">
                <select name="status" ng-model="addQstn.class" class="form-control" id="class" name="class" placeholder="Status" required>
                    <option value="">Please Select Class</option>
                    <option ng-repeat="x in class" value="{{x}}">{{x}}</option>
                </select>
            </div>
            <div ng-show="qstnForm.class.$error.required && !qstnForm.class.$pristine" class="alert alert-danger">
                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Class required</strong>
            </div>
            <div class="form-group">
                <label for="class">Subject</label>
                <input ng-model="addQstn.subject" class="form-control" id="subject" name="sub" placeholder="Subject" required />
            </div>
            <div ng-show="qstnForm.sub.$error.required && !qstnForm.sub.$pristine" class="alert alert-danger">
                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Subject required</strong>
            </div>
            <div class="form-group">
                <label for="class">Status</label>
                <select name="status" ng-model="addQstn.status" class="form-control" id="status" placeholder="Status" required>
                    <!-- <option value="">Please Select Status</option> -->
                    <option ng-repeat="x in stat" value="{{x}}">{{x}}</option>
                </select>
            </div>
            <button ng-click="toggleModal()" type="submit" class="btn btn-default">Submit</button>
        </form>
    </modal>


    <!-- add questions using pictures -->
    <modal title="Add questions with pictures" visible="showaddQstnPicModal">
        <form role="form" name="qstnForm" id="qstnForm">
            <div class="form-group">
                <label for="question">Question</label>
                <textarea ng-model="addPicQstn.question" type="text" class="form-control" name="qstn" placeholder="Enter Question" required></textarea>
                <input type="file" ngf-select ng-model="addPicQstn.qstn" name="file-qstn"
             accept="image/*" ngf-max-size="2MB" required
             ngf-model-invalid="errorFile">
            </div>
            <div ng-show="qstnForm.qstn.$error.required && !qstnForm.qstn.$pristine" class="alert alert-danger">
                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Question required</strong>
            </div>
            <div class="form-group">
                <label for="options">Options</label>
                <!-- <input ng-model="addPicQstn.options" class="form-control" name="opt" required /> -->
                <addbuttonsbutton></addbuttonsbutton>
                <div id="space-for-buttons"></div>
            </div>
            <div ng-show="qstnForm.opt.$error.required && !qstnForm.opt.$pristine" class="alert alert-danger">
                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Options required</strong>
            </div>
            <div class="form-group">
                <label for="options">Answer</label>
                <input ng-model="addPicQstn.answer" class="form-control" name="ans" required />
            </div>
            <div ng-show="qstnForm.ans.$error.required && !qstnForm.ans.$pristine" class="alert alert-danger">
                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Answer required</strong>
            </div>
            <div class="form-group">
                <select name="status" ng-model="addPicQstn.class" class="form-control" id="class" name="class" placeholder="Status" required>
                    <option value="">Please Select Class</option>
                    <option ng-repeat="x in class" value="{{x}}">{{x}}</option>
                </select>
            </div>
            <div ng-show="qstnForm.class.$error.required && !qstnForm.class.$pristine" class="alert alert-danger">
                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Class required</strong>
            </div>
            <div class="form-group">
                <label for="class">Subject</label>
                <input ng-model="addPicQstn.subject" class="form-control" id="subject" name="sub" placeholder="Subject" required />
            </div>
            <div ng-show="qstnForm.sub.$error.required && !qstnForm.sub.$pristine" class="alert alert-danger">
                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Subject required</strong>
            </div>
            <div class="form-group">
                <label for="class">Status</label>
                <select name="status" ng-model="addPicQstn.status" class="form-control" id="status" placeholder="Status" required>
                    <option ng-repeat="x in stat" value="{{x}}">{{x}}</option>
                </select>
            </div>
            <button ng-click="upload_now(addPicQstn)" type="submit"  class="btn btn-default">Submit</button>
        </form>
    </modal>

    <!--  -->
    <div ng-init="preload()">
      <div class="row">
        <div class="col-md-12">
          <button type="button" name="button" ng-click="btnMulti()">Multi status change</button>
          <modal title="Multi status change" visible="showMulti">
              <form role="form" ng-submit="multiStat(mul)" name="multi">
                  <div class="form-group">
                      <label for="class">Class</label>
                      <input ng-model="mul.class" class="form-control" id="status" placeholder="Class" name="class" type="number" required/>
                  </div>
                  <div ng-show="multi.class.$error.required && !multi.class.$pristine" class="alert alert-danger">
                      <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Class required</strong>
                  </div>
                  <div class="form-group">
                      <label for="class">Subject</label>
                      <select name="sub" ng-model="mul.subject" class="form-control" id="status" placeholder="Status" required>
                          <!-- <option value="">Please Select Status</option> -->
                          <option ng-repeat="y in subject" value="{{y}}">{{y}}</option>
                      </select>
                  <div ng-show="multi.sub.$error.required && !multi.sub.$pristine" class="alert alert-danger">
                      <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Subject required</strong>
                  </div>
                  <div class="form-group">
                      <label for="class">Status</label>
                      <select name="status" ng-model="mul.status" class="form-control" id="status" placeholder="Status" required>
                          <option ng-repeat="x in stat" value="{{x}}">{{x}}</option>
                      </select>
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
              </form>
          </modal>




        </div>
      </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-3">
                    <label for="class">Class based table</label>
                    <select ng-change="whichClass(grade)" ng-model="grade" class="form-control">
                        <option ng-repeat="c in class" value="{{c}}">{{c}}</option>
                    </select>
                    <label for="class">Subject based table</label>
                    <select ng-change="whichSubject(sub)" ng-model="sub" class="form-control">
                        <option ng-repeat="s in subject" value="{{s}}">{{s}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" ng-if="!classPagination && !subjectPagination">
                <label for="class">Docs per page</label>
                <select ng-change="selector(value)" ng-model="value" class="form-control">
                    <option value="1">1</option>
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                </select>
            </div>
            <div class="form-group" ng-if="classPagination">
                <label for="class">Docs per page</label>
                <select ng-change="selectorQstnClass(valCQ)" ng-model="valCQ" class="form-control">
                    <option value="1">1</option>
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                </select>
            </div>
            <div class="form-group" ng-if="subjectPagination">
                <label for="class">Docs per page</label>
                <select ng-change="selectorQstnSub(valSQ)" ng-model="valSQ" class="form-control">
                    <option value="1">1</option>
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                </select>
            </div>
            <div>
                <button class="btn btn-primary" ng-click="add_questions()"><span class="icon glyphicon glyphicon-plus"></span> Add</button>
                <button class="btn btn-primary" ng-click="add_questions_images()"><span class="icon glyphicon glyphicon-plus"></span> Add with images</button>
                <button class="btn btn-warning" ng-disabled="!selectCAT" ng-click="edit_qstn()"><span class="icon glyphicon glyphicon-edit"></span> Edit</button>
                <button class="btn btn-danger" ng-disabled="!selectCAT" ng-click="del_qstn()"><span class="icon glyphicon glyphicon-trash"></span> Delete</button>

                <button class="btn btn-success" ng-disabled="!selectCAT" ng-click="publish_qstns()"><span class="icon glyphicon glyphicon-ok"></span> Publish</button>

                <button class="btn btn-danger" ng-disabled="!selectCAT" ng-click="unpublish_qstns()"><span class="icon glyphicon glyphicon-remove"></span> Unpublish</button>
            </div>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th></th>
                        <th style="width:50%">Question</th>
                        <th ng-show="false">Answer</th>
                        <th>Status</th>
                        <th>Class</th>
                        <th>Subject</th>
                        <th>Created Date</th>
                        <th ng-show="false">Options</th>
                        <th>Updated Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat=" each in qstnData | filter:search ">
                        <td>
                            <input type="checkbox" ng-change="selectQstn(chk,each)" ng-model="chk.select"> {{selecteach}}
                        </td>
                        <td>{{each.question.value}}</td>
                        <td ng-show="false">{{each.answer}}</td>
                        <td>{{each.status}}</td>
                        <td>{{each.class}}</td>
                        <td>{{each.subject}}</td>
                        <td>{{each.createdDate}}</td>
                        <td ng-show="false">{{each.options}}</td>
                        <td>{{each.updatedDate}}</td>
                    </tr>
                </tbody>
            </table>
            <paging ng-if="!classPagination && !subjectPagination" class="small" page="currentPage" page-size="pageSize" total="total" show-prev-next="true" show-first-last="true" text-next-class="glyphicon glyphicon-chevron-right" text-prev-class="glyphicon glyphicon-chevron-left"
                text-first-class="glyphicon glyphicon-backward" text-last-class="glyphicon glyphicon-forward" paging-action="DoCtrlPagingAct(page, pageSize, total,selCount)">
            </paging>
            <paging ng-if="classPagination && !subjectPagination" class="small" page="currentPageClassQ" page-size="pageSize" total="total" show-prev-next="true" show-first-last="true" text-next-class="glyphicon glyphicon-chevron-right" text-prev-class="glyphicon glyphicon-chevron-left"
                text-first-class="glyphicon glyphicon-backward" text-last-class="glyphicon glyphicon-forward" paging-action="classQstn(page, pageSize, total,selCount)">
            </paging>
            <paging ng-if="subjectPagination && !classPagination" class="small" page="currentPageSubQ" page-size="pageSize" total="total" show-prev-next="true" show-first-last="true" text-next-class="glyphicon glyphicon-chevron-right" text-prev-class="glyphicon glyphicon-chevron-left"
                text-first-class="glyphicon glyphicon-backward" text-last-class="glyphicon glyphicon-forward" paging-action="subQstn(page, pageSize, total,selCount)">
            </paging>
        </div>
        <div class="container">
            <modal title="Edit Question" visible="showQstnEditModal">
                <form role="form" ng-submit="qstnEditor(editQstn)" name="qstnEditForm">
                    <div class="form-group">
                        <label for="question">Question</label>
                        <textarea ng-model="editQstn.question.value" type="text" class="form-control" placeholder="Enter Question" name="qstn" required></textarea>
                        <div class="" ng-if="editQstn.question.path">
                          <img src="{{editQstn.question.path}}" alt="" width="300" height:"300">
                        </div>
                    </div>
                    <div ng-show="qstnEditForm.qstn.$error.required && !qstnEditForm.qstn.$pristine" class="alert alert-danger">
                        <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Question required</strong>
                    </div>
                    <div class="form-group">
                        <label for="options">Options</label>
                        <input ng-model="editQstn.options.mockVal" class="form-control" name="option" value="{{editQstn.mockVal}}" required/>
                        <div class="" ng-if="editQstn.question.path">
                          <img ng-repeat="each in editQstn.options" src="{{each.path}}" alt="" width="300" height:"300" style="padding-bottom:10px;">
                        </div>
                    </div>
                    <div ng-show="qstnEditForm.option.$error.required && !qstnEditForm.option.$pristine" class="alert alert-danger">
                        <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Options required</strong>
                    </div>
                    <div class="form-group">
                        <label for="options">Answer</label>
                        <input ng-model="editQstn.answer" class="form-control" name="ans" required/>
                    </div>
                    <div ng-show="qstnEditForm.ans.$error.required && !qstnEditForm.ans.$pristine" class="alert alert-danger">
                        <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Answer required</strong>
                    </div>
                    <div class="form-group">
                        <label for="class">Class</label>
                        <input ng-model="editQstn.class" class="form-control" id="status" placeholder="Class" name="class" required/>
                    </div>
                    <div ng-show="qstnEditForm.class.$error.required && !qstnEditForm.class.$pristine" class="alert alert-danger">
                        <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Class required</strong>
                    </div>
                    <div class="form-group">
                        <label for="class">Subject</label>
                        <input ng-model="editQstn.subject" class="form-control" id="status" placeholder="Subject" name="sub" / required>
                    </div>
                    <div ng-show="qstnEditForm.sub.$error.required && !qstnEditForm.sub.$pristine" class="alert alert-danger">
                        <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Subject required</strong>
                    </div>
                    <div class="form-group">
                        <label for="class">Status</label>
                        <select name="status" ng-model="editQstn.status" class="form-control" id="status" placeholder="Status" required>
                            <option value="">Please Select Status</option>
                            <option ng-repeat="x in stat" value="{{x}}">{{x}}</option>
                        </select>
                    </div>
                    <button ng-click="toggleModal()" type="submit" class="btn btn-default">Submit</button>
                </form>
            </modal>
        </div>
        <div class="container">
          <h2>Multiple questions upload!</h2>
            <form name="upForm">
                <fieldset>
                    <legend>Upload on form submit</legend>
                    Class:
                    <input type="number" ng-model="class" name="class" min="1" max="12" required>
                    <i ng-show="upForm.class.$error.required">*required</i>
                    Subject:
                    <input type="text" name="subject" ng-model="sub" size="31" required>
                    <i ng-show="upForm.subject.$error.required">*required</i>
                    <br>CSV:
                    <input type="file" ngf-select ng-model="csv" name="file" required ngf-model-invalid="errorFile">
                    <i ng-show="upForm.file.$error.required">*required</i><br>
                    <!-- <i ng-show="upForm.file.$error.maxSize">File too large -->
          <!-- {{errorFile.size / 1000000|number:1}}MB: max 2M</i> -->
                    <img ng-show="upForm.file.$valid" ngf-thumbnail="csv" class="thumb"> <button ng-click="csv = null" ng-show="csv">Remove</button>
                    <br>
                    <button ng-disabled="!upForm.$valid" ng-click="upload(csv)">Submit</button>
                    <span class="progress" ng-show="csv.progress >= 0">
        <div style="width:{{csv.progress}}%"
            ng-bind="csv.progress + '%'"></div>
      </span>
                    <span ng-show="csv.result">Upload Successful</span>
                    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                </fieldset>
                <br>
            </form>
        </div>
      </div>
