<div ng-controller="StudentController" ng-init="getQstns()">
    <h1>Welcome {{user}}</h1>
    <h2>Today's exam: ENTRANCE</h2>
    <div>
        <ol>
            <li ng-repeat="qstn in qstns">
                <h4 class="qstn">{{qstn.question.value}}</h4>
                <img ng-if="qstn.question.path" src="{{qstn.question.path}}" alt="" width="300" height:"300">
                <br />
                <br />
                <label ng-repeat="opt in qstn.options" class="opt">
                    <!-- <input ng-if="opt.path!=null" class="val" type="radio" ng-model="qstn.selectedAnswer" value="{{opt}}{{$parent.$index}}" id="{{opt}}" name="qstn{{$parent.$index}}" ng-click="checkAnswer(opt,qstn)"> -->
                    <img ng-if="opt.path" src="{{opt.path}}" alt="" width="200" height:"200">
                    <!-- <input ng-if="opt.path" class="val" type="radio" ng-model="qstn.selectedAnswer" value="{{opt}}{{$parent.$index}}" id="{{opt}}" name="qstn{{$parent.$index}}" ng-click="checkAnswer(opt,qstn)">sss -->
                    <input class="val" type="radio" ng-model="qstn.selectedAnswer" value="{{opt}}{{$parent.$index}}" id="{{opt}}" name="qstn{{$parent.$index}}" ng-click="checkAnswer(opt,qstn)">{{!opt.path ? opt.value:null}}
                    <!-- <input ng-if="opt.path" class="val" type="radio" ng-model="qstn.selectedAnswer" value="{{opt}}{{$parent.$index}}" id="{{opt}}" name="qstn{{$parent.$index}}" ng-click="checkAnswer(opt,qstn)">sss -->
                </label>
                <!--    <input type="radio" name="qstn{{$index}}" ng-model="formData[$index]">
     <input type="radio" name="qstn{{$index}}" ng-model="formData[$index]">
     <input type="radio" name="qstn{{$index}}" ng-model="formData[$index]"> -->
            </li>
        </ol>
        <button ng-click="submitQstns(s)" class="btn btn-primary">Done</button>
    </div>
</div>
