<div ng-controller="StudentController" ng-init="getQstns()">
    <h1>Welcome {{user}}</h1>
    <h2>Today's exam: ENTRANCE</h2>
    <div>
        <ol>
            <li ng-repeat="qstn in qstns">
                <h4 class="qstn">{{qstn.question}}</h4>
                <label ng-repeat="opt in qstn.options" class="opt">
                    <input class="val" type="radio" ng-model="qstn.selectedAnswer" value="{{opt}}{{$parent.$index}}" id="{{opt}}" name="qstn{{$parent.$index}}" ng-click="checkAnswer(opt,qstn)">{{opt}}
                </label>
                <!--    <input type="radio" name="qstn{{$index}}" ng-model="formData[$index]">
     <input type="radio" name="qstn{{$index}}" ng-model="formData[$index]">
     <input type="radio" name="qstn{{$index}}" ng-model="formData[$index]"> -->
            </li>
        </ol>
        <button ng-click="submitQstns(s)" class="btn btn-primary">Done</button>
    </div>
</div>
