/*
* @Author: bishal
* @Date:   2016-12-28 23:25:46
* @Last Modified by:   bishal
* @Last Modified time: 2017-02-12 17:54:02
*/

body {
    /*background-color: whitesmoke ! important;*/
    background-image: url(../images/abstract-1.jpg);
    font-family: 'Mirza', serif ! important;
    font-size: 48px;
    color: #074f5d ! important;
}

body.ng-scope.ng-binding {
    margin-top: 50px;
}
h1,h2,h3 {
    font-weight: normal;
    color: #df8800 ! important;
}

.container {
    padding-top: 60px;
}

.dropdown {
    float: right;
    font-weight: bold;
    text-decoration: underline;
    padding-right: 30px;
}

.logo {
    padding-bottom: 20px;
    font-family: 'Josefin Slab', serif;
    height: 100px;
    display: block;
}

.logo img {
    width: 60px;
    float: left;
}

.logo strong {
    margin-left: 10px;
    line-height: 60px;
    float: left;
    font-size: 32px;
    word-spacing: 0px;
    letter-spacing: -6px;
    font-weight: bold;
    color: #70bcff;
}

.signup {
    cursor: pointer;
    float: right;
    padding-top:10px;
}
.seven{
  font-family: 'Segment7Standard';
   font-weight: large;
   font-size: 40px;
   float: left;
   font-style: italic;
}
.opt{
  padding-right:25px;
}
.val{
  margin-right:5px !important;
}
.panel{
  background:transparent !important;
}
.panel-info {
  border: none !important;
}
.action{
  text-decoration: none;
  float:right;
  padding:25px;
}
a:hover{
  text-decoration: none !important;
}
body > div > div.header.logo > div > span.underline > a{
  padding-left:8px;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: #F5DEB3 !important;
}
.form-control{
  cursor: pointer !important;
}
